* {
  background-color: #faf9f6;
  color: #818589;
  scroll-behavior: smooth;
  font-weight: bold;
  box-sizing: border-box;
}

#toggler,
.navbar label {
  display: none; /*Hide the checkbox and label on large screens.*/
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
